<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.momchi.back.Post.PostRepository">
    <resultMap type="com.momchi.back.Post.Post" id="PostMap">
        <result column="post_id" property="postId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="content_type" property="contentType"/>
        <result column="url" property="url"/>
        <result column="level" property="level"/>
        <result column="likeCnt" property="likeCnt"/>
    </resultMap>

    <insert id="save" parameterType="com.momchi.back.Post.Post">
        insert into Post (title, content, url, level, user_id, content_type)
        values (#{title}, #{content}, #{url}, #{level}, #{userId}, #{contentType});
    </insert>

    <select id="getAllPosts" resultMap="PostMap">
        select * from Post;
    </select>

    <select id="findById" resultMap="PostMap" parameterType="Long">
        select * from Post
        where post_id=#{postId}
    </select>

    <select id="orderByLikeCount" resultMap="PostMap">
        select * from Post
        order by likeCnt desc;
    </select>

    <select id="findByLevel" resultMap="PostMap" parameterType="String">
        select * from Post
        where level=#{level};
    </select>

    <select id="findByCategory" resultMap="PostMap" parameterType="String">
        select * from Post
        where content_type = #{contentType};
    </select>

    <update id="update" parameterType="com.momchi.back.Post.Post">
        update Post
        set title=#{title}, content=#{content}
        where post_id = #{postId};
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from Post
        where post_id = #{postId};
    </delete>
</mapper>