<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.momchi.back.Record.RecordRepository">
    <resultMap type="com.momchi.back.Record.Record" id="RecordMap">
        <result column="record_id" property="recordId"/>
        <result column="user_id" property="userId"/>
        <result column="date" property="date"/>
        <result column="time" property="time"/>
        <result column="video_id" property="videoId"/>
    </resultMap>

    <insert id="saveRecord" parameterType="com.momchi.back.Record.Record">
        insert into Record (user_id, date, time, video_id)
        values (#{userId}, #{date}, #{time}, #{videoId});
    </insert>

    <select id="getAllRecord" resultMap="RecordMap" parameterType="Long">
        select * from Record
        where user_id = #{userId}
        order by date desc;
    </select>

    <select id="getRecordByDate" resultMap="RecordMap" parameterType="map">
        SELECT *
        FROM Record
        WHERE user_id = #{userId} AND DATE_FORMAT(date, '%Y-%m') = #{date}
        ORDER BY date ASC;
    </select>

    <delete id="deleteRecord" parameterType="Long">
        delete from Record
        where record_id = #{recordId};
    </delete>
</mapper>