<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.momchi.back.User.UserRepository">
    <resultMap type="com.momchi.back.User.User" id="UserMap">
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="birthday" property="birthday"/>
        <result column="level" property="level"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <insert id="save" parameterType="com.momchi.back.User.User">
        insert into User (name, email, password, nickname, birthday, level)
        values ( #{name}, #{email}, #{password}, #{nickname}, #{birthday}, #{level})
    </insert>


    <select id="findById" resultMap="UserMap" parameterType="Long">
        select * from User
        where user_id = #{userId}
    </select>

    <select id="findByEmail" resultMap="UserMap" parameterType="String">
        SELECT * FROM User
        WHERE email = #{email}
    </select>
    <select id="getUserByRecord" resultMap="UserMap">
        <![CDATA[
        SELECT u.user_id, u.name, u.email, u.password, u.nickname, u.birthday, u.level
        FROM User u
        JOIN Record r ON u.user_id = r.user_id
        GROUP BY u.user_id
        ORDER BY COUNT(r.record_id) DESC
        LIMIT 10;
        ]]>
    </select>

    <select id="update" parameterType="com.momchi.back.User.User">
        update User
        set name=#{name}, password=#{password}, nickname=#{nickname}
        where user_id = #{userId}
    </select>

    <update id="deleteById" parameterType="Long">
        update User
        set enabled=false
        where user_id = #{userId};
    </update>

</mapper>